@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

body {
	text-align: center;
	color: white;
	background-color: #181a1c;
	font-family: Raleway;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 50px;
	margin-bottom: 100px;
}

h4 {
	font-weight: lighter;
}

a {
	text-decoration: none;
	color: white;
}

hr {
	width: 50%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), white, rgba(0, 0, 0, 0));
    margin-top: 50px;
    margin-bottom: 50px;
}


.reseaux {
	margin-bottom: 100px;
}

.container {
	display: flex;
	justify-content: center;
}

.apercu {
	display: flex;
	justify-content: center;
	align-items: center;
}

.iframe {
	height: 0px;
	max-height: 0px;
	max-width: 0;
	width: 0px;
	opacity: 0;
  transition: opacity 0.5s, max-height 0.5s 0.5s, height 0.5s 0.5s, max-width 0.5s 0.5s , width 0.5s 0.5s;
}

.projet {
	position: relative;
	overflow: visible;
	height: 200px;
	max-height: 200px;
  background-color: #0c0c0d;
  /*transition: max-height 0.1s ease-in-out 0.5s, 2s max-width ease;*/
  border-radius: 30px;
  box-shadow: 0 0 10px black;
  width: 50vw;
  max-width: 50vw;
   	transition: max-height 0.5s, height 0.5s, 0.5s max-width ease, 0.5s width; 
   	transition-delay: 0.3s;
	padding: 50px;
}


.projet:hover {
	max-height: 1000px;
	height: 1000px;
	  width: 60vw;
	max-width: 80vw;
	   transition: 0.5s max-height ease, 0.5s max-width ease, 0.5s width;
  	display: block;
}

.projet:hover .iframe {
	height: 800px;
	max-height: 800px;
	opacity: 1;
	/*border: solid 10px white;*/
	width: 1422px;
	max-width: 100%;
	transition: opacity 0.5s 0.5s;
}

.screen {
height: 0px;
	max-height: 0px;
	max-width: 0;
	width: 0px;
	opacity: 0;
  transition: opacity 0.5s, max-height 0.5s 0.5s, height 0.5s 0.5s, max-width 0.5s 0.5s , width 0.5s 0.5s;
}

.projet:hover .screen {
	height: 800px;
	max-height: 800px;
	opacity: 1;
	width: 1422px;
	max-width: 100%;
	transition: opacity 0.5s 0.5s;
}

.invisible {
	opacity: 0
}

.phone-screen {
	display: none;
	height: 0px;
	max-height: 0px;
	max-width: 0;
	width: 0px;
	opacity: 0;
  transition: opacity 0.5s, max-height 0.5s 0.5s, height 0.5s 0.5s, max-width 0.5s 0.5s , width 0.5s 0.5s;

}

@media screen and (max-width: 750px) { 
	.screen {
		display: none;
	}
	.phone-screen {
		display: block;
	}
  .projet { 
    min-width: 85vw;
	width: 85vw;
	
  } 
  .projet:hover {
	max-height: 700px;
	height: 700px;
  }
  .projet:hover .phone-screen {
	height: 500px;
	max-height: 500px;
	opacity: 1;
	width: auto;
	max-width: 100%;
	transition: opacity 0.5s 0.5s;
	margin: 0 auto;
  }
} 


/*
.iframe1 {
	display: none;
}
.nymeria:hover .ifraaaame..; {
	display: block;
		-webkit-animation: inception 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	    animation: inception 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.inception {
	animation: ease 3s 
	-webkit-animation: inception 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: inception 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}