@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

body {
	text-align: center;
	color: white;
	background-color: #181a1c;
	font-family: Raleway;
}

h1 {
	font-size: 70px;
}

hr {
	width: 100%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), white, rgba(0, 0, 0, 0));
}


.iframe1 {
	height: 0px;
	max-height: 0px;
	opacity: 0;
 	transition: 1s max-height ease 1s;
}

.nymeria {
	overflow: visible;
	max-height: 200px;
  background-color: blue;
 	transition: 1s max-height ease 1s;
}


.nymeria:hover {
	max-height: 1000px;
 	transition: 1s max-height ease 1s;
}

.nymeria:hover .iframe1 {
	height: 700px;
	max-height: 700px;
	opacity: 1;
	transition: 1s max-height ease, opacity 1s ease-in-out 1s;

}


/*
.iframe1 {
	display: none;
}
.nymeria:hover .ifraaaame..; {
	display: block;
		-webkit-animation: inception 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	    animation: inception 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.inception {
	animation: ease 3s 
	-webkit-animation: inception 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: inception 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}